.newsItem {
    width: 100%;
    background-color: #f9e2e2;
    margin: 5px;
    padding: 2%;
    border-radius: 20px;
}
header b{
    font-size: 1.2rem;
    width: 50%;
}
section span {
    margin: 5px;
    font-weight: 200;;
}

.newsItem:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 3px grey;
}