.footer {
    width: 100%;
    height: auto;
    min-height: 100px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 1.5% 0;
}

.bottom_position {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer_header {
    margin: 10px auto;
    width: 50%;
    font-size: 1.15rem;
    font-family: monospace;
}

.footer  a{
    color: rgba(18, 184, 235, 0.75);
    text-decoration: none;
}
.space {
    margin: 0 2.5%;
}

.footer p{
    
    margin: 5px;
}