* {
    margin: 0;
    padding: 0;
}
body { 
    background-color: grey;
}
.place-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner_position{
    position: absolute;
    top: 50%;
    left: 50%;
}